#Q1

In [1]:
my_name="Belinda"
print(my_name)

Belinda

#q2

In [2]:
my_id=1998
print(my_id)

1998

#Q3

In [4]:
my_id_str="1998"
print(my_id_str)

1998

#Q4

In [5]:
my_name+my_id
print(my_name+my_id)

TypeError: must be str, not int

No you cannot perform my_name+my_id because my_id is not a string

#Q5

In [7]:
my_name+my_id_str
print(my_name+my_id_str)

Belinda1998

Yes, becasue you can add two strings together

#Q6

In [9]:
'hello, world.This is my firstpython string.'.split('.')

['hello, world', 'This is my firstpython string', '']

#Q7

In [12]:
str_list=['a','b','c','d','e']
str_list.sort
print(str_list)

['a', 'b', 'c', 'd', 'e']

No, you cannot because it is already sorted

#Q8

In [24]:
str_list.append('f')
print(str_list)

['a', 'b', 'c', 'd', 'e', 'f']

#Q9

In [25]:
str_list.remove('d')
print(str_list)

['a', 'b', 'c', 'e', 'f']

#Q10

In [27]:
print(str_list[2])

c

#Q11

In [32]:
num_list=[12,32,43,35]

In [33]:
str_list+num_list

['a', 'b', 'c', 'e', 'f', 12, 32, 43, 35]

#Q12

In [31]:
my_dict={'name':'Belinda',
         'id': 1234}
print(my_dict)

{'name': 'Belinda', 'id': 1234}

#Q13

In [34]:
my_dict['name']='Addae'
print(my_dict)

{'name': 'Addae', 'id': 1234}

#Q14

In [35]:
print(my_dict['id'])

1234

#Q15

In [36]:
my_dict['id']=4321
print(my_dict)

{'name': 'Addae', 'id': 4321}

#Q16

In [37]:
my_dict['num_list']=num_list
print(my_dict)

{'name': 'Addae', 'id': 4321, 'num_list': [12, 32, 43, 35]}